body{
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Krub', sans-serif;
    font-family: 'Prompt', sans-serif;
}
.flex{
    display: flex;
    border: solid black 2px;
    width: 150px;
    height: 175px;
    justify-content:center ;
    align-items: center;
    box-shadow: 1px -1px 29px 5px rgba(0,0,0,0.76);
-webkit-box-shadow: 1px -1px 29px 5px rgba(0,0,0,0.76);
-moz-box-shadow: 1px -1px 29px 5px rgba(0,0,0,0.76);
    
    
}
.block{ 
    display: block;
    
}
.block p{
    text-align: center;
    margin-top: -0px;
}
.red{
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position:absolute;
    z-index:2;
    /* top:50px;
    right:50px */
}